// 1 COLORS DEFIN

$DarkBlue: hsl(233, 26%, 24%);
$LimeGreen: hsl(136, 65%, 51%);
$BrightCyan: hsl(192, 70%, 51%);

// 3 COLORS DEGRADATION 

$DarkBlue2: hsl(233, 26%, 24%, .9);
$DarkBlue3: hsl(233, 26%, 24%, .2);

// 3 COLORS DEGRADATION ---

// 2 NEUTRAL COLORS

$GrayishBlue: hsl(233, 8%, 62%);
$LightGrayishBlue: hsl(220, 16%, 96%);
$VeryLightGray: hsl(0, 0%, 98%);
$White: hsl(0, 0%, 100%);

// 2 NEUTRAL COLORS ---

// 1 COLORS DEFIN ---

// BUTTON GRADIENT 

.buttonGradiente{
    button{
        all: unset;
        position: relative;
        background: linear-gradient(to right, $LimeGreen, $BrightCyan);
        z-index: 1;
        padding: .9rem 1.9rem;
        border-radius: 50px;
        cursor: pointer;
        color: $White;
        font-weight: 500;
        font-size: 17px;
        &:hover{
            color: $VeryLightGray;
        }
    }
    button::before{
        border-radius: 50px;
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(to right, #83E3A6, #7ED4E3);
        z-index: -1;
        transition: opacity .3s linear;
        opacity: 0;
    }
    button:hover::before{
        opacity: .8;
    }
}

// BUTTON GRADIENT ---

// FONTS

@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

// FONTS ---

// BODY NOTES : NORMALIZE IS LOCATED IN CSS / NORMALIZE.CSS -- NORMALIZCE SE ENCUENTRA EN CSS / NORMALIZE.CSS

// BODY (FONT)  

body{
    font-family: "Public Sans", sans-serif;
}

// BODY (FONT) ---

// 0 NAV

// 1 navigationIDAnimation

.navigationIDAnimation{
    transform: translateY(0%);
    opacity: 1;
    transition: .4s;
}

// 1 navigationIDAnimation ---

body{
    nav{
        background: $White;
        display: flex;
        align-items: center;
        place-content: center;
        margin: 0 auto;
        width: 100%;
        box-shadow: 0px .1px 1.5px .1px $LightGrayishBlue;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        transform: translateY(-100%);
        opacity: 0;
        transition: .4s;
        >:nth-child(1){
            background: $White;
            display: flex;
            flex-flow: row wrap;
            align-content: center;
            justify-content: space-between;
            width: 85%;
            max-width: 1440px;
            >:nth-child(1), >:nth-child(2), >:nth-child(3){
                display: flex;
                flex-flow: row wrap;
                align-items: center;
                justify-content: center;
                place-content: center;
            }
            >:nth-child(1){
                width: 100%;
                max-width: 10rem;
                img{
                    width: 100%;
                    cursor: pointer;
                }
            }
            >:nth-child(2){
                justify-content: space-between;
                gap: 1.75rem;
                >div{
                    height: 100%;
                    display: flex;
                    flex-flow: column wrap;
                    gap: 1.5rem; // REALIZAR CAMBIOS ONSCROLL
                    justify-content: space-between;
                    >:nth-child(1),>:nth-child(3){
                        height: .35rem;
                    }
                    >:nth-child(2){
                        a{
                            all: unset;
                            cursor: pointer;
                            color: $GrayishBlue;
                            font-weight: 500;
                            transition: .3s;
                            font-size: 17px;
                            &:hover{
                                color: $DarkBlue;
                                transition: .3s;
                            }
                        }
                    }
                }
            }
            >:nth-child(3){
                display: flex;
                flex-flow: row wrap;
                align-items: center;
                justify-content: center;
                >:nth-child(2){
                    display: flex;
                    flex-flow: row wrap;
                    align-items: center;
                    justify-content: center;
                    place-content: center;
                    display: none; // CAMBIOS EN MOBILE 
                    >div{
                        display: grid;
                        place-content: center;
                        img{
                            transform: scale(1.3);
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
    // 3 navigationIDedit
    .edit{
        >:nth-child(1){
            >:nth-child(2){
                >div{
                    transition: 1s;
                    gap: 1.11rem;
                }
            }
        }
    }
    // 3 navigationIDedit ---
}

// 2 UNDERLINE HOVER JS

.underline{
    background: linear-gradient(to right, $LimeGreen, $BrightCyan);
    width: 0%;
    transition: .3s;
}

.underlineN1Hover{
    width: 100%;
    transition: .3s;
}

// 2 UNDERLINE HOVER JS ---

// 0 NAV ---

// NAV MEDIAS (875px) TABLET / PHONE

@media(max-width:875px){
    body{
        nav{
            >:nth-child(1){
                width: 90%;
                padding: 1.5rem 0rem;
                >:nth-child(2){
                    display: none;
                }
                >:nth-child(3){
                    display: flex;
                    flex-flow: row wrap;
                    align-items: center;
                    justify-content: center;
                    >:nth-child(1){
                        display: none;
                    }
                    >:nth-child(2){
                        display: flex;
                        >:nth-child(2){
                            display: none;
                        }
                    }
                    .burgerToggle{
                        >:nth-child(1){
                            display: none;
                        }
                        >:nth-child(2){
                            display: flex;
                        }
                    }
                }
            }
        }
        // 3 navigationIDedit
        .edit{
            >:nth-child(1){
                width: 90%;
                padding: 1.1rem 0rem;
            }
        }
        // 3 navigationIDedit ---
    }
}

// NAV MEDIAS (875px) TABLET / PHONE ---

// OVERFLOW

body{
    .overflow{
        position: fixed;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, $DarkBlue2, $DarkBlue3);
        z-index: 9;
        visibility: hidden;
        opacity: 0;
        transition: 0s;
        display: none;
        >:nth-child(1){
            background: $White;
            display: flex;
            flex-flow: column wrap;
            align-items: center;
            gap: 2.5rem;
            margin: 0 auto;
            width: 90%;
            max-width: 1440px;
            margin-top: 5rem;
            padding: 35px 0px;
            border-radius: 10px;
            transform: translateY(-300px);
            opacity: 0;
            a{
                all: unset;
                font-size: 17px;
                font-weight: 500;
                color: $DarkBlue;
                cursor: pointer;
            }
        }
    }
    .overflowAction{
        visibility: visible;
        opacity: 1;
        transition: .3s;
        >:nth-child(1){
            transform: translateY(0px);
            opacity: 1;
        }
    }
    .editoverflow{
        >:nth-child(1){
            margin-top: 4.15rem;
        }
    }
}

// OVERFLOW --

// OVERFLOW MEDIAS (875px) TABLET / PHONE

@media(max-width: 875px){
    body{
        .overflow{
            position: fixed;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to bottom, $DarkBlue2, $DarkBlue3);
            z-index: 9;
            visibility: hidden;
            opacity: 0;
            transition: 0s;
            display: block;
            >:nth-child(1){
                background: $White;
                display: flex;
                flex-flow: column wrap;
                align-items: center;
                gap: 2.5rem;
                margin: 0 auto;
                width: 90%;
                max-width: 1440px;
                margin-top: 5rem;
                padding: 35px 0px;
                border-radius: 10px;
                transform: translateY(-300px);
                opacity: 0;
                a{
                    all: unset;
                    font-size: 17px;
                    font-weight: 500;
                    color: $DarkBlue;
                    cursor: pointer;
                }
            }
        }
        .overflowAction{
            visibility: visible;
            opacity: 1;
            transition: .3s;
            >:nth-child(1){
                transform: translateY(0px);
                opacity: 1;
            }
        }
        .editoverflow{
            >:nth-child(1){
                margin-top: 4.15rem;
            }
        }
    }
}

// OVERFLOW MEDIAS (875px) TABLET / PHONE --

// 1 HEADER

// 2 headerIDAnimation 

.headerIDAnimation{
    >:nth-child(1){
        >:nth-child(1){
            >:nth-child(1){
                >:nth-child(1){
                    >:nth-child(1){
                        >:nth-child(1){
                            transform: translateX(22.5%) translateY(5%) scale(.85);
                            opacity: 100%;
                            transition: .75s;
                        }
                    }
                }
                >:nth-child(2){
                    >:nth-child(1){
                        transform: translateX(23%) translateY(5%) scale(1.65);
                        opacity: 100%;
                        transition: .75s;
                    }
                }
            }
            >:nth-child(2){
                >:nth-child(1){
                    transform: translateY(0%);
                    opacity: 100%;
                    transition: .75s;
                }
            }
        }
    }
}

// 2 headerIDAnimation ---

body{
    header{
        display: flex;
        flex-flow: column wrap;
        margin: 0 auto;
        width: 100%;
        overflow: hidden;
        >:nth-child(1){
            position: relative;
            height: 112vh;
            >:nth-child(1){
                background: $VeryLightGray;
                position: absolute;
                z-index: 6;
                height: 100vh;
                width: 100%;
                >:nth-child(1){
                    position: absolute;
                    right: 0;
                    width: 53%;
                    height: 100%;
                    right: 0%;
                    background: transparent;
                    >:nth-child(1){
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        z-index: 8;
                        display: flex;
                        place-content: center;
                        align-items: center;
                        >:nth-child(1){
                            height: 140%;
                            width: 100%;
                            >:nth-child(1){
                                background-image: url('../IMG/image-mockups.png');
                                background-repeat: no-repeat;
                                background-size: cover;
                                height: 100%;
                                width: 100%;
                                transform: translateX(97.5%) translateY(9%) scale(1);
                                opacity: 0;
                            }
                        }
                    }
                    >:nth-child(2){
                        width: 100%;
                        height: 100%;
                        z-index: 7;
                        overflow: hidden;
                        >:nth-child(1){
                            background-image: url('../IMG/bg-intro-desktop.svg');
                            background-repeat: no-repeat;
                            background-size: cover;
                            height: 100%;
                            width: 100%;
                            transform: translateX(115%) translateY(5%) scale(1.65);
                            opacity: 0;
                        }
                    }
                }
                >:nth-child(2){
                    display: flex;
                    flex-flow: row nowrap;
                    height: 100%;
                    width: 47%;
                    align-items: flex-end;
                    justify-content: flex-end;
                    >:nth-child(1){
                        width: 84%;
                        height: 100%;
                        max-width: 620px;
                        display: flex;
                        flex-flow: column wrap;
                        justify-content: center;
                        align-items: center;
                        align-items: flex-start;
                        gap: 1.75rem;
                        margin-bottom: -5.2%;
                        transform: translateY(69%);
                        opacity: 0;
                        >:nth-child(1){
                            width: 80%;
                            h1{
                                all: unset;
                                font-size: 2.85rem;
                                color: $DarkBlue;
                            }
                        }
                        >:nth-child(2){
                            display: flex;
                            flex-flow: column wrap;
                            width: 83%;
                            p{
                                all: unset;
                                font-size: 17px;
                                line-height: 1.85rem;
                                color: $GrayishBlue;
                            }
                        }
                    }
                }
                >:nth-child(3){
                    display: none;
                }
            }
        }
    }
}

// 1 HEADER TOP ---

// HEADER MEDIAS (1024px) ORGANICE RIGHT SIDE 

@media(max-width: 1024px){
    body{
        header{
            >:nth-child(1){
                >:nth-child(1){
                    >:nth-child(2){
                        >:nth-child(1){
                            gap: .25rem;
                            >:nth-child(1), >:nth-child(2){
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}

// HEADER MEDIAS (1024px) ORGANICE RIGHT SIDE  ---

// 1 HEADER MEDIAS (875px) TABLET / PHONE

@media(max-width: 875px){
    body{
        header{
            display: flex;
            flex-flow: column wrap;
            margin: 0 auto;
            width: 100%;
            overflow: hidden;
            >:nth-child(1){
                position: relative;
                height: 112vh;
                >:nth-child(1){
                    background: $VeryLightGray;
                    position: normal;
                    z-index: 6;
                    display: flex;
                    flex-flow: column wrap;
                    justify-content: space-between;
                    height: 100vh;
                    width: 100%;
                    >:nth-child(1){
                        display: none;
                    }
                    >:nth-child(2){
                        height: 45%;
                        width: 100%;
                        order: 2;
                        >:nth-child(1){
                            margin: 0 auto;
                            width: 90%;
                            height: 100%;
                            max-width: 1440px;
                            display: flex;
                            flex-flow: column wrap;
                            justify-content: center;
                            align-items: center;
                            align-items: flex-start;
                            gap: 1.75rem;
                            transform: translateY(69%);
                            opacity: 0;
                            text-align: center;
                            >:nth-child(1){
                                h1{
                                    all: unset;
                                    font-size: 2.35rem;
                                    color: $DarkBlue;
                                }
                            }
                            >:nth-child(2){
                                p{
                                    all: unset;
                                    font-size: 14px;
                                    line-height: 1.5rem;
                                    color: $GrayishBlue;
                                }
                            }
                            >:nth-child(3){
                                width: 100%;
                            }
                        }
                    }
                    >:nth-child(3){
                        display: flex;
                        order: 1;
                        background-image: url('../IMG/bg-intro-mobile.svg');
                        background-repeat: no-repeat;
                        background-size: cover;
                        width: 100%;
                        height: 55%;
                        position: relative;
                        place-content: center;
                        align-items: center;
                        transform: translateX(100%);
                        opacity: 0;
                        overflow: hidden;
                        >:nth-child(1){
                            position: absolute;
                            width: 90%;
                            height: 100%;
                            display: flex;
                            place-content: center;
                            align-items: center;
                            transform: translateY(-7.5%);
                            img{
                                width: 100%;
                                max-width: 24rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

// 2 headerIDAnimation MEDIAS (875px) TABLET / PHONE

@media(max-width: 875px){
    .headerIDAnimation{
        >:nth-child(1){
            >:nth-child(1){
                >:nth-child(2){
                    >:nth-child(1){
                        transform: translateY(0%);
                        opacity: 100%;
                        transition: .75s;
                    }
                }
                >:nth-child(3){
                    transform: translateX(0%);
                    opacity: 100%;
                    transition: .75s;
                }
            }
        }
    }
}

// 2 headerIDAnimation MEDIAS (875px) TABLET / PHONE ---

// 1 HEADER MEDIAS (875px) TABLET / PHONE ---

// MAIN

body{
    main{
        margin-top: -14.2vh;
        >:nth-child(1){
            background: $LightGrayishBlue;
            display: flex;
            place-content: center;
            align-items: center;
            flex-flow: row nowrap;
            padding: 12vh 0vh;
            >:nth-child(1){
                margin: 0 auto;
                width: 85%;
                max-width: 1440px;
                display: flex;
                flex-flow: column wrap;
                place-content: center;
                align-items: center;
                justify-content: center;
                gap: 5rem;
                >:nth-child(1){
                    width: 100%;
                    display: flex;
                    flex-flow: column wrap;
                    gap: 1.25rem;
                    h2{
                        all: unset;
                        font-size: 2.35rem;
                        color: $DarkBlue;
                    }
                    div{
                        width: 60%;
                        p{
                            all: unset;
                            font-size: 17px;
                            color: $GrayishBlue;
                            font-weight: 500;
                            line-height: 1.5rem;
                        }
                    }
                }
                >:nth-child(2){
                    width: 100%;
                    display: flex;
                    flex-flow: row wrap;
                    align-items: flex-start;
                    justify-content: space-between;
                    >div{
                        width: 23%;
                        display: flex;
                        flex-flow: column wrap;
                        gap: 1.75rem;
                        >:nth-child(1){
                            >:nth-child(1){
                                width: 100%;
                                max-width: 3.95rem;
                                img{
                                    width: 100%;
                                }
                            }
                        }
                        >:nth-child(2){
                            h3{
                                all: unset;
                                font-size: 1.35rem;
                                color: $DarkBlue;
                            }
                        }
                        >:nth-child(3){
                            p{
                                all: unset;
                                font-size: 17px;
                                color: $GrayishBlue;
                            }
                        }
                    }
                }
            }
        }
    }
}

// 1 MAIN ONSCROLL ANIMATION

.firstAnimation{
    transform: translateY(50px);
    opacity: 0%;
    transition: .5s;
    animation-delay: .3s;
}

.animationN1{
    transform: translateY(0px);
    opacity: 100%;
    transition: .5s;
    animation-delay: .3s;
}

// 1 MAIN ONSCROLL ANIMATION ---

// MAIN ---

// MAIN MEDIAS (875px) TABLET / PHONE 

@media(max-width: 875px){
    body{
        main{
            margin-top: -14.2vh;
            >:nth-child(1){
                background: $LightGrayishBlue;
                display: flex;
                place-content: center;
                align-items: center;
                flex-flow: row nowrap;
                padding: 9vh 0vh;
                >:nth-child(1){
                    margin: 0 auto;
                    width: 90%;
                    max-width: 1440px;
                    display: flex;
                    flex-flow: column wrap;
                    place-content: center;
                    align-items: center;
                    justify-content: center;
                    gap: 3.5rem;
                    >:nth-child(1){
                        width: 100%;
                        display: flex;
                        flex-flow: column wrap;
                        gap: 1.25rem;
                        text-align: center;
                        h2{
                            all: unset;
                            font-size: 2.35rem;
                            color: $DarkBlue;
                        }
                        div{
                            width: 100%;
                            p{
                                all: unset;
                                font-size: 17px;
                                color: $GrayishBlue;
                                font-weight: 500;
                                line-height: 1.5rem;
                            }
                        }
                    }
                    >:nth-child(2){
                        width: 100%;
                        display: flex;
                        flex-flow: column wrap;
                        align-items: flex-start;
                        justify-content: space-between;
                        gap: 2rem;
                        >div{
                            width: 100%;
                            display: flex;
                            flex-flow: column wrap;
                            align-items: center;
                            gap: 1.75rem;
                            >:nth-child(1){
                                >:nth-child(1){
                                    width: 100%;
                                    max-width: 4.25rem;
                                    img{
                                        width: 100%;
                                    }
                                }
                            }
                            >:nth-child(2){
                                h3{
                                    all: unset;
                                    font-size: 1.35rem;
                                    color: $DarkBlue;
                                }
                            }
                            >:nth-child(3){
                                text-align: center;
                                p{
                                    all: unset;
                                    font-size: 17px;
                                    color: $GrayishBlue;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// MAIN MEDIAS (875px) TABLET / PHONE ---

// ARTICLE 

body{
    article{
        >:nth-child(1){
            background: $VeryLightGray;
            display: flex;
            place-content: center;
            align-items: center;
            flex-flow: row nowrap;
            padding: 12vh 0vh;
            >:nth-child(1){
                margin: 0 auto;
                width: 85%;
                max-width: 1440px;
                display: flex;
                flex-flow: column wrap;
                place-content: center;
                align-items: center;
                justify-content: center;
                gap: 5rem;
                >:nth-child(1){
                    width: 100%;
                    display: flex;
                    flex-flow: column wrap;
                    gap: 1.25rem;
                    h2{
                        all: unset;
                        font-size: 2.35rem;
                        color: $DarkBlue;
                    }
                }
                >:nth-child(2){
                    width: 100%;
                    display: flex;
                    flex-flow: row wrap;
                    align-items: flex-start;
                    justify-content: space-between;
                    >div{
                        width: 23%;
                        display: flex;
                        flex-flow: column wrap;
                        gap: 1.75rem;
                        background: orange;
                        >:nth-child(1){
                            >:nth-child(1){
                                width: 100%;
                                max-width: 3.95rem;
                                img{
                                    width: 100%;
                                }
                            }
                        }
                        >:nth-child(2){
                            h3{
                                all: unset;
                                font-size: 1.35rem;
                                color: $DarkBlue;
                            }
                        }
                        >:nth-child(3){
                            p{
                                all: unset;
                                font-size: 17px;
                                color: $GrayishBlue;
                            }
                        }
                    }
                }
            }
        }
    }
}

// ARTICLE ---


// MAIN MEDIAS (875px) TABLET / PHONE 

@media(max-width: 875px){
    body{
        article{
            >:nth-child(1){
                background: $VeryLightGray;
                display: flex;
                place-content: center;
                align-items: center;
                flex-flow: row nowrap;
                padding: 12vh 0vh;
                >:nth-child(1){
                    margin: 0 auto;
                    width: 90%;
                    max-width: 1440px;
                    display: flex;
                    flex-flow: column wrap;
                    place-content: center;
                    align-items: center;
                    justify-content: center;
                    gap: 3.5rem;
                    >:nth-child(1){
                        width: 100%;
                        display: flex;
                        flex-flow: column wrap;
                        gap: 1.25rem;
                        text-align: center;
                        h2{
                            all: unset;
                            font-size: 2.35rem;
                            color: $DarkBlue;
                        }
                    }
                    >:nth-child(2){
                        width: 100%;
                        display: flex;
                        flex-flow: column wrap;
                        align-items: flex-start;
                        justify-content: space-between;
                        gap: 2rem;
                        >div{
                            width: 100%;
                            display: flex;
                            flex-flow: column wrap;
                            align-items: center;
                            gap: 0rem;
                        }
                    }
                }
            }
        }
    }
}

// MAIN MEDIAS (875px) TABLET / PHONE ---