@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
.buttonGradiente button {
  all: unset;
  position: relative;
  background: -webkit-gradient(linear, left top, right top, from(hsl(136, 65%, 51%)), to(hsl(192, 70%, 51%)));
  background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  z-index: 1;
  padding: 0.9rem 1.9rem;
  border-radius: 50px;
  cursor: pointer;
  color: hsl(0, 0%, 100%);
  font-weight: 500;
  font-size: 17px;
}
.buttonGradiente button:hover {
  color: hsl(0, 0%, 98%);
}
.buttonGradiente button::before {
  border-radius: 50px;
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: -webkit-gradient(linear, left top, right top, from(#83E3A6), to(#7ED4E3));
  background-image: linear-gradient(to right, #83E3A6, #7ED4E3);
  z-index: -1;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
  opacity: 0;
}
.buttonGradiente button:hover::before {
  opacity: 0.8;
}

body {
  font-family: "Public Sans", sans-serif;
}

.navigationIDAnimation {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  opacity: 1;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

body nav {
  background: hsl(0, 0%, 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  place-content: center;
  margin: 0 auto;
  width: 100%;
  -webkit-box-shadow: 0px 0.1px 1.5px 0.1px hsl(220, 16%, 96%);
          box-shadow: 0px 0.1px 1.5px 0.1px hsl(220, 16%, 96%);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  opacity: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
body nav > :nth-child(1) {
  background: hsl(0, 0%, 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 85%;
  max-width: 1440px;
}
body nav > :nth-child(1) > :nth-child(1), body nav > :nth-child(1) > :nth-child(2), body nav > :nth-child(1) > :nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  place-content: center;
}
body nav > :nth-child(1) > :nth-child(1) {
  width: 100%;
  max-width: 10rem;
}
body nav > :nth-child(1) > :nth-child(1) img {
  width: 100%;
  cursor: pointer;
}
body nav > :nth-child(1) > :nth-child(2) {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.75rem;
}
body nav > :nth-child(1) > :nth-child(2) > div {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  gap: 1.5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
body nav > :nth-child(1) > :nth-child(2) > div > :nth-child(1), body nav > :nth-child(1) > :nth-child(2) > div > :nth-child(3) {
  height: 0.35rem;
}
body nav > :nth-child(1) > :nth-child(2) > div > :nth-child(2) a {
  all: unset;
  cursor: pointer;
  color: hsl(233, 8%, 62%);
  font-weight: 500;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 17px;
}
body nav > :nth-child(1) > :nth-child(2) > div > :nth-child(2) a:hover {
  color: hsl(233, 26%, 24%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
body nav > :nth-child(1) > :nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
body nav > :nth-child(1) > :nth-child(3) > :nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  place-content: center;
  display: none;
}
body nav > :nth-child(1) > :nth-child(3) > :nth-child(2) > div {
  display: -ms-grid;
  display: grid;
  place-content: center;
}
body nav > :nth-child(1) > :nth-child(3) > :nth-child(2) > div img {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  cursor: pointer;
}
body .edit > :nth-child(1) > :nth-child(2) > div {
  -webkit-transition: 1s;
  transition: 1s;
  gap: 1.11rem;
}

.underline {
  background: -webkit-gradient(linear, left top, right top, from(hsl(136, 65%, 51%)), to(hsl(192, 70%, 51%)));
  background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  width: 0%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.underlineN1Hover {
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 875px) {
  body nav > :nth-child(1) {
    width: 90%;
    padding: 1.5rem 0rem;
  }
  body nav > :nth-child(1) > :nth-child(2) {
    display: none;
  }
  body nav > :nth-child(1) > :nth-child(3) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body nav > :nth-child(1) > :nth-child(3) > :nth-child(1) {
    display: none;
  }
  body nav > :nth-child(1) > :nth-child(3) > :nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body nav > :nth-child(1) > :nth-child(3) > :nth-child(2) > :nth-child(2) {
    display: none;
  }
  body nav > :nth-child(1) > :nth-child(3) .burgerToggle > :nth-child(1) {
    display: none;
  }
  body nav > :nth-child(1) > :nth-child(3) .burgerToggle > :nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body .edit > :nth-child(1) {
    width: 90%;
    padding: 1.1rem 0rem;
  }
}
body .overflow {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(hsla(233, 26%, 24%, 0.9)), to(hsla(233, 26%, 24%, 0.2)));
  background: linear-gradient(to bottom, hsla(233, 26%, 24%, 0.9), hsla(233, 26%, 24%, 0.2));
  z-index: 9;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0s;
  transition: 0s;
  display: none;
}
body .overflow > :nth-child(1) {
  background: hsl(0, 0%, 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.5rem;
  margin: 0 auto;
  width: 90%;
  max-width: 1440px;
  margin-top: 5rem;
  padding: 35px 0px;
  border-radius: 10px;
  -webkit-transform: translateY(-300px);
          transform: translateY(-300px);
  opacity: 0;
}
body .overflow > :nth-child(1) a {
  all: unset;
  font-size: 17px;
  font-weight: 500;
  color: hsl(233, 26%, 24%);
  cursor: pointer;
}
body .overflowAction {
  visibility: visible;
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
body .overflowAction > :nth-child(1) {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 1;
}
body .editoverflow > :nth-child(1) {
  margin-top: 4.15rem;
}

@media (max-width: 875px) {
  body .overflow {
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(hsla(233, 26%, 24%, 0.9)), to(hsla(233, 26%, 24%, 0.2)));
    background: linear-gradient(to bottom, hsla(233, 26%, 24%, 0.9), hsla(233, 26%, 24%, 0.2));
    z-index: 9;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: 0s;
    transition: 0s;
    display: block;
  }
  body .overflow > :nth-child(1) {
    background: hsl(0, 0%, 100%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2.5rem;
    margin: 0 auto;
    width: 90%;
    max-width: 1440px;
    margin-top: 5rem;
    padding: 35px 0px;
    border-radius: 10px;
    -webkit-transform: translateY(-300px);
            transform: translateY(-300px);
    opacity: 0;
  }
  body .overflow > :nth-child(1) a {
    all: unset;
    font-size: 17px;
    font-weight: 500;
    color: hsl(233, 26%, 24%);
    cursor: pointer;
  }
  body .overflowAction {
    visibility: visible;
    opacity: 1;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  body .overflowAction > :nth-child(1) {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
  body .editoverflow > :nth-child(1) {
    margin-top: 4.15rem;
  }
}
.headerIDAnimation > :nth-child(1) > :nth-child(1) > :nth-child(1) > :nth-child(1) > :nth-child(1) > :nth-child(1) {
  -webkit-transform: translateX(22.5%) translateY(5%) scale(0.85);
          transform: translateX(22.5%) translateY(5%) scale(0.85);
  opacity: 100%;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}
.headerIDAnimation > :nth-child(1) > :nth-child(1) > :nth-child(1) > :nth-child(2) > :nth-child(1) {
  -webkit-transform: translateX(23%) translateY(5%) scale(1.65);
          transform: translateX(23%) translateY(5%) scale(1.65);
  opacity: 100%;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}
.headerIDAnimation > :nth-child(1) > :nth-child(1) > :nth-child(2) > :nth-child(1) {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  opacity: 100%;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}

body header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
}
body header > :nth-child(1) {
  position: relative;
  height: 112vh;
}
body header > :nth-child(1) > :nth-child(1) {
  background: hsl(0, 0%, 98%);
  position: absolute;
  z-index: 6;
  height: 100vh;
  width: 100%;
}
body header > :nth-child(1) > :nth-child(1) > :nth-child(1) {
  position: absolute;
  right: 0;
  width: 53%;
  height: 100%;
  right: 0%;
  background: transparent;
}
body header > :nth-child(1) > :nth-child(1) > :nth-child(1) > :nth-child(1) {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body header > :nth-child(1) > :nth-child(1) > :nth-child(1) > :nth-child(1) > :nth-child(1) {
  height: 140%;
  width: 100%;
}
body header > :nth-child(1) > :nth-child(1) > :nth-child(1) > :nth-child(1) > :nth-child(1) > :nth-child(1) {
  background-image: url("../IMG/image-mockups.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  -webkit-transform: translateX(97.5%) translateY(9%) scale(1);
          transform: translateX(97.5%) translateY(9%) scale(1);
  opacity: 0;
}
body header > :nth-child(1) > :nth-child(1) > :nth-child(1) > :nth-child(2) {
  width: 100%;
  height: 100%;
  z-index: 7;
  overflow: hidden;
}
body header > :nth-child(1) > :nth-child(1) > :nth-child(1) > :nth-child(2) > :nth-child(1) {
  background-image: url("../IMG/bg-intro-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  -webkit-transform: translateX(115%) translateY(5%) scale(1.65);
          transform: translateX(115%) translateY(5%) scale(1.65);
  opacity: 0;
}
body header > :nth-child(1) > :nth-child(1) > :nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  height: 100%;
  width: 47%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
body header > :nth-child(1) > :nth-child(1) > :nth-child(2) > :nth-child(1) {
  width: 84%;
  height: 100%;
  max-width: 620px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1.75rem;
  margin-bottom: -5.2%;
  -webkit-transform: translateY(69%);
          transform: translateY(69%);
  opacity: 0;
}
body header > :nth-child(1) > :nth-child(1) > :nth-child(2) > :nth-child(1) > :nth-child(1) {
  width: 80%;
}
body header > :nth-child(1) > :nth-child(1) > :nth-child(2) > :nth-child(1) > :nth-child(1) h1 {
  all: unset;
  font-size: 2.85rem;
  color: hsl(233, 26%, 24%);
}
body header > :nth-child(1) > :nth-child(1) > :nth-child(2) > :nth-child(1) > :nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  width: 83%;
}
body header > :nth-child(1) > :nth-child(1) > :nth-child(2) > :nth-child(1) > :nth-child(2) p {
  all: unset;
  font-size: 17px;
  line-height: 1.85rem;
  color: hsl(233, 8%, 62%);
}
body header > :nth-child(1) > :nth-child(1) > :nth-child(3) {
  display: none;
}

@media (max-width: 1024px) {
  body header > :nth-child(1) > :nth-child(1) > :nth-child(2) > :nth-child(1) {
    gap: 0.25rem;
  }
  body header > :nth-child(1) > :nth-child(1) > :nth-child(2) > :nth-child(1) > :nth-child(1), body header > :nth-child(1) > :nth-child(1) > :nth-child(2) > :nth-child(1) > :nth-child(2) {
    width: 100%;
  }
}
@media (max-width: 875px) {
  body header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
  }
  body header > :nth-child(1) {
    position: relative;
    height: 112vh;
  }
  body header > :nth-child(1) > :nth-child(1) {
    background: hsl(0, 0%, 98%);
    position: normal;
    z-index: 6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100vh;
    width: 100%;
  }
  body header > :nth-child(1) > :nth-child(1) > :nth-child(1) {
    display: none;
  }
  body header > :nth-child(1) > :nth-child(1) > :nth-child(2) {
    height: 45%;
    width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  body header > :nth-child(1) > :nth-child(1) > :nth-child(2) > :nth-child(1) {
    margin: 0 auto;
    width: 90%;
    height: 100%;
    max-width: 1440px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 1.75rem;
    -webkit-transform: translateY(69%);
            transform: translateY(69%);
    opacity: 0;
    text-align: center;
  }
  body header > :nth-child(1) > :nth-child(1) > :nth-child(2) > :nth-child(1) > :nth-child(1) h1 {
    all: unset;
    font-size: 2.35rem;
    color: hsl(233, 26%, 24%);
  }
  body header > :nth-child(1) > :nth-child(1) > :nth-child(2) > :nth-child(1) > :nth-child(2) p {
    all: unset;
    font-size: 14px;
    line-height: 1.5rem;
    color: hsl(233, 8%, 62%);
  }
  body header > :nth-child(1) > :nth-child(1) > :nth-child(2) > :nth-child(1) > :nth-child(3) {
    width: 100%;
  }
  body header > :nth-child(1) > :nth-child(1) > :nth-child(3) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    background-image: url("../IMG/bg-intro-mobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 55%;
    position: relative;
    place-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
    overflow: hidden;
  }
  body header > :nth-child(1) > :nth-child(1) > :nth-child(3) > :nth-child(1) {
    position: absolute;
    width: 90%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    place-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translateY(-7.5%);
            transform: translateY(-7.5%);
  }
  body header > :nth-child(1) > :nth-child(1) > :nth-child(3) > :nth-child(1) img {
    width: 100%;
    max-width: 24rem;
  }
}
@media (max-width: 875px) {
  .headerIDAnimation > :nth-child(1) > :nth-child(1) > :nth-child(2) > :nth-child(1) {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 100%;
    -webkit-transition: 0.75s;
    transition: 0.75s;
  }
  .headerIDAnimation > :nth-child(1) > :nth-child(1) > :nth-child(3) {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 100%;
    -webkit-transition: 0.75s;
    transition: 0.75s;
  }
}
body main {
  margin-top: -14.2vh;
}
body main > :nth-child(1) {
  background: hsl(220, 16%, 96%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  padding: 12vh 0vh;
}
body main > :nth-child(1) > :nth-child(1) {
  margin: 0 auto;
  width: 85%;
  max-width: 1440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  place-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5rem;
}
body main > :nth-child(1) > :nth-child(1) > :nth-child(1) {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  gap: 1.25rem;
}
body main > :nth-child(1) > :nth-child(1) > :nth-child(1) h2 {
  all: unset;
  font-size: 2.35rem;
  color: hsl(233, 26%, 24%);
}
body main > :nth-child(1) > :nth-child(1) > :nth-child(1) div {
  width: 60%;
}
body main > :nth-child(1) > :nth-child(1) > :nth-child(1) div p {
  all: unset;
  font-size: 17px;
  color: hsl(233, 8%, 62%);
  font-weight: 500;
  line-height: 1.5rem;
}
body main > :nth-child(1) > :nth-child(1) > :nth-child(2) {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
body main > :nth-child(1) > :nth-child(1) > :nth-child(2) > div {
  width: 23%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  gap: 1.75rem;
}
body main > :nth-child(1) > :nth-child(1) > :nth-child(2) > div > :nth-child(1) > :nth-child(1) {
  width: 100%;
  max-width: 3.95rem;
}
body main > :nth-child(1) > :nth-child(1) > :nth-child(2) > div > :nth-child(1) > :nth-child(1) img {
  width: 100%;
}
body main > :nth-child(1) > :nth-child(1) > :nth-child(2) > div > :nth-child(2) h3 {
  all: unset;
  font-size: 1.35rem;
  color: hsl(233, 26%, 24%);
}
body main > :nth-child(1) > :nth-child(1) > :nth-child(2) > div > :nth-child(3) p {
  all: unset;
  font-size: 17px;
  color: hsl(233, 8%, 62%);
}

.firstAnimation {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  opacity: 0%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.animationN1 {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

@media (max-width: 875px) {
  body main {
    margin-top: -14.2vh;
  }
  body main > :nth-child(1) {
    background: hsl(220, 16%, 96%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    place-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    padding: 9vh 0vh;
  }
  body main > :nth-child(1) > :nth-child(1) {
    margin: 0 auto;
    width: 90%;
    max-width: 1440px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    place-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 3.5rem;
  }
  body main > :nth-child(1) > :nth-child(1) > :nth-child(1) {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    gap: 1.25rem;
    text-align: center;
  }
  body main > :nth-child(1) > :nth-child(1) > :nth-child(1) h2 {
    all: unset;
    font-size: 2.35rem;
    color: hsl(233, 26%, 24%);
  }
  body main > :nth-child(1) > :nth-child(1) > :nth-child(1) div {
    width: 100%;
  }
  body main > :nth-child(1) > :nth-child(1) > :nth-child(1) div p {
    all: unset;
    font-size: 17px;
    color: hsl(233, 8%, 62%);
    font-weight: 500;
    line-height: 1.5rem;
  }
  body main > :nth-child(1) > :nth-child(1) > :nth-child(2) {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 2rem;
  }
  body main > :nth-child(1) > :nth-child(1) > :nth-child(2) > div {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1.75rem;
  }
  body main > :nth-child(1) > :nth-child(1) > :nth-child(2) > div > :nth-child(1) > :nth-child(1) {
    width: 100%;
    max-width: 4.25rem;
  }
  body main > :nth-child(1) > :nth-child(1) > :nth-child(2) > div > :nth-child(1) > :nth-child(1) img {
    width: 100%;
  }
  body main > :nth-child(1) > :nth-child(1) > :nth-child(2) > div > :nth-child(2) h3 {
    all: unset;
    font-size: 1.35rem;
    color: hsl(233, 26%, 24%);
  }
  body main > :nth-child(1) > :nth-child(1) > :nth-child(2) > div > :nth-child(3) {
    text-align: center;
  }
  body main > :nth-child(1) > :nth-child(1) > :nth-child(2) > div > :nth-child(3) p {
    all: unset;
    font-size: 17px;
    color: hsl(233, 8%, 62%);
  }
}
body article > :nth-child(1) {
  background: hsl(0, 0%, 98%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  padding: 12vh 0vh;
}
body article > :nth-child(1) > :nth-child(1) {
  margin: 0 auto;
  width: 85%;
  max-width: 1440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  place-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5rem;
}
body article > :nth-child(1) > :nth-child(1) > :nth-child(1) {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  gap: 1.25rem;
}
body article > :nth-child(1) > :nth-child(1) > :nth-child(1) h2 {
  all: unset;
  font-size: 2.35rem;
  color: hsl(233, 26%, 24%);
}
body article > :nth-child(1) > :nth-child(1) > :nth-child(2) {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
body article > :nth-child(1) > :nth-child(1) > :nth-child(2) > div {
  width: 23%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  gap: 1.75rem;
  background: orange;
}
body article > :nth-child(1) > :nth-child(1) > :nth-child(2) > div > :nth-child(1) > :nth-child(1) {
  width: 100%;
  max-width: 3.95rem;
}
body article > :nth-child(1) > :nth-child(1) > :nth-child(2) > div > :nth-child(1) > :nth-child(1) img {
  width: 100%;
}
body article > :nth-child(1) > :nth-child(1) > :nth-child(2) > div > :nth-child(2) h3 {
  all: unset;
  font-size: 1.35rem;
  color: hsl(233, 26%, 24%);
}
body article > :nth-child(1) > :nth-child(1) > :nth-child(2) > div > :nth-child(3) p {
  all: unset;
  font-size: 17px;
  color: hsl(233, 8%, 62%);
}

@media (max-width: 875px) {
  body article > :nth-child(1) {
    background: hsl(0, 0%, 98%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    place-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    padding: 12vh 0vh;
  }
  body article > :nth-child(1) > :nth-child(1) {
    margin: 0 auto;
    width: 90%;
    max-width: 1440px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    place-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 3.5rem;
  }
  body article > :nth-child(1) > :nth-child(1) > :nth-child(1) {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    gap: 1.25rem;
    text-align: center;
  }
  body article > :nth-child(1) > :nth-child(1) > :nth-child(1) h2 {
    all: unset;
    font-size: 2.35rem;
    color: hsl(233, 26%, 24%);
  }
  body article > :nth-child(1) > :nth-child(1) > :nth-child(2) {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 2rem;
  }
  body article > :nth-child(1) > :nth-child(1) > :nth-child(2) > div {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0rem;
  }
}